---
import 'dotenv/config'
import Layout from "@layouts/Layout.astro"
import { CldUploadWidget, CldImage } from "astro-cloudinary"
import sampleImage from "@assets/img/sample-costume.png"
import CldUploadWidgetSettings from "@components/CldUploadWidgetSettings.astro"
import {Image} from "astro:assets"

// import { getCollection } from "astro:content"
// const images = await getCollection("images")
---

<Layout title="Cloudinary Hackathon">
  <main>
    <section class="hero">
        <div class="hero__content">
          <div class="hero__title">
            <h1>HalloWear</h1>
            <h2>Transform your image and discover your next costume!</h2>
          </div>
          
          <div class="hero__description">
            <p>Upload your photo and explore a variety of costumes to see how you'd look this Halloween</p>
          <CldUploadWidgetSettings/>
        </div>
      </div>
      
      <div class="hero__img">
        <Image src={sampleImage} alt="Comparison of a man dressed casually and dressed as Spiderman generated with HalloWear"/>
      </div>
    </section>
  
    <!-- <ul>
      {
        images.map((image) => {
          return (
            <li>
              <a href={`/photo?id=${image.data.public_id}`}>
                <CldImage
                  src={image.data.public_id}
                  width={250}
                  height={250}
                  preserveTransformations={true}
                />
              </a>
            </li>
          )
        })
      }
    </ul> -->
  </main>

  <style>
    main {
      display: ;
      margin: 0 auto;
      padding-top: 100px;
      text-align: center;
    }

    section{
      display: flex;

    }

    h1{
      font-size: clamp(5rem, 8vw, 8rem);
      font-family: 'HalloweenSpooky', 'SourceSans3', system-ui, sans-serif;
      margin-bottom: 16px;
    }

    h2 {
      margin-bottom: 32px;
      font-weight: 500;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4px;
      list-style: none;
    }
  </style>

  <script></script>
</Layout>